.test-section {
  min-height: 600px;
  padding: 20px;
}

.text-align-center {
  text-align: center;
}

.padding-for-section {
  padding: 50px;
}

.finish-text {
  color: gray;
  text-align: center;
}

.result-test {
  font-size: 72px;
  color: green;
}

.button-test-section {
  width: 200px;
}